
		body {
			background: url(../images/stucco-bg1.jpg);
			background-size: cover;
		}

		.container {
			background: rgba(255, 255, 255, 0.8);
			margin: 20px auto;
			padding: 20px 20px;
			overflow: auto;
			width: 1024px;
		}

		h1 { color: #2f4ca3; }

		hr {
			background-color: #ddd;
			border: none;
			height: 2px;
		}

		.row { margin-top: 10px; }

		#page-header p { color: #2f4ca3; }

		#displayWord {
			font-weight: bold;
			font-size: 30px;
			color: #2f4ca3;
			letter-spacing: 25px;
			padding: 5px;
			text-align: center;
		}

		#guess-headers {
			font-weight: bold;
			text-align: center;
			text-decoration : underline;
		}

		#guesses * {
			font-weight: bold;
			font-size: 20px;
			text-align: center;
		}

		#correctGuesses { color: green; }
		#incorrectGuesses { color: red; }
		#guessesRemaining { color: #2f4ca3; }
		
		#album-cover {
  		box-sizing: border-box;
      background-size: 128px 128px;
      border: 1px solid #ccc;
  		width: 128px; height: 128px;
  		margin: 6px 0px 20px 30px;
  		text-align: center;
    }

		p { margin-bottom: 0px; }
		
		button {
			background-color: #2f4ca3;
			color: white;
			font-size: 16px;
			padding: 5px 15px;
			margin-top: 10px;
		}
		
		button:focus { outline: none; }
		
		#songPlaying {
			position: relative; right: 33px;
			border: 2px solid #2f4ca3;
			border-radius: 5px;
			width: 250px;
		}

